.plant-name {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  font-size: 8vh;
  font-family: 'Marmelad', sans-serif;

}

.japh {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  font-size: 7vh;
  font-family: 'Marmelad', sans-serif;
}


@media only screen and (max-width: 999px){
.plant-name {
  font-size: 7vh;
  text-align: center;
  }
.japh {
  text-align: center;
  }
}
